%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["..","./libs"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "unicorn", "1.1.9",
        [
         kernel,
         stdlib,
         sasl,
         xmerl,
         compiler,
         mnesia,
         yaws,
         erlydtl,
         jsx,
         thrift,
         dsf_base,
         reg_web,
         reg_server
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "unicorn"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, reg_server, [{mod_cond, app}, {incl_cond, include}]},
       {app, tv,         [{mod_cond, app}, {incl_cond, include}]},
       {app, appmon,     [{mod_cond, app}, {incl_cond, include}]},
       {app, observer,   [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "unicorn"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "log/yaws"},
           {mkdir, "releases/\{\{rel_vsn\}\}/tools"},

           {mkdir, "www"},
           {mkdir, "www/images"},
           {mkdir, "www/script"},
           {mkdir, "www/script/lib"},
           {mkdir, "www/stylesheets"},

           {copy, "../reg_web/www/index.yaws", "www/index.yaws"},
           {copy, "../reg_web/www/interface.yaws", "www/interface.yaws"},
           {copy, "../reg_web/www/websock_service.yaws", "www/websock_service.yaws"},
           {copy, "../reg_web/www/images/oryx_logo.png", "www/images/oryx_logo.png"},
           {copy, "../reg_web/www/script/edit_appsvc.js", "www/script/edit_appsvc.js"},
           {copy, "../reg_web/www/script/objcurve.js", "www/script/objcurve.js"},
           {copy, "../reg_web/www/script/objmeta_table.js", "www/script/objmeta_table.js"},
           {copy, "../reg_web/www/script/svc_state.js", "www/script/svc_state.js"},
           {copy, "../reg_web/www/script/lib/flashcanvas.js", "www/script/lib/flashcanvas.js"},
           {copy, "../reg_web/www/script/lib/flotr2.ie.min.js", "www/script/lib/flotr2.ie.min.js"},
           {copy, "../reg_web/www/script/lib/flotr2.min.js", "www/script/lib/flotr2.min.js"},
           {copy, "../reg_web/www/stylesheets/layout.css", "www/stylesheets/layout.css"},
           {copy, "../reg_web/www/stylesheets/style.css", "www/stylesheets/style.css"},

           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "unicorn/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/unicorn", "bin/unicorn"},
           {copy, "files/unicorn.cmd", "bin/unicorn.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/yaws.conf", "./yaws.conf"},
           {copy, "files/run_parse_db_export.sh", "releases/\{\{rel_vsn\}\}/tools"},
           {copy, "files/extract_table_info.sh", "releases/\{\{rel_vsn\}\}/tools"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "files/table_*.import", "releases/\{\{rel_vsn\}\}/"}
          ]}.
