body, p, h1, h2, h3, h4, h5, h6, ul, li, form{
	margin:0;
	padding:0;
	line-height:18px;
}

p, h2, h3, h4, h5, h6, table{
	margin-bottom:18px;
}

#oryx_logo_image, .mainmenu, .submenu{
	margin-left:18px;
	margin-right:18px;
	margin-top:18px;
}

#page{
	display:block;
	width:1008px;
	margin: 0px auto;
}

#header{
	height:108px;
	width:100%;
}

/*
#middle{
	width:100%;
    float:left;
}

#middle #sidebar{
	width:306px;
	float:left;
}

#middle #main{
	width:702px;
	float:left;
}

.clear{
	clear:both;
}
*/

#middle{
    width:100%;
    margin: 0px auto
}

#middle #main {
    width: 90%;
    margin: 0px auto   
}

table {
    width: 100%;
    margin: 0px auto;}
form{
    width: 100%;
    margin: 0px auto
}
#verder_info{
	height:36px;
	width:100%;
}
